.json-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.json-editor__toolbar {
  position: relative;
  padding: 8px;
}

.json-editor__editor {
  position: relative;
  flex: 2;
  overflow-y: auto;
}

.json-editor__errors {
  position: relative;
  flex-grow: 1;
  height: calc(100vh - 404px);
  overflow-y: auto;
}

/* stylelint-disable selector-class-pattern */
.CodeMirror {
  position: relative;
  height: 100%;
}
