.settings-plugin {
  position: absolute;
  top: 110px;
  right: -12px;
  z-index: 1031;
  width: 64px;
  text-align: center;
  background: var(--bs-gray-400) !important;
  border-radius: 8px 0 0 8px;
}

.settings-plugin .fa-cog {
  width: auto;
  padding: 10px;
  color: var(--bs-light);
  border-radius: 0 0 6px 6px;
}

.settings-plugin__button {
  padding-left: 0 !important;
}
